.content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}

.search-filter {
    display: flex;
    margin-bottom: 20px;
}

.search-filter input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-filter 
{
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.search-btn
{
    padding: 10px 20px;
    border: none;
    background-color:#2E4A62;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #2E4A62;
    border-radius: 5px;
    cursor: pointer;
}


.appointments-table {
    width: 100%;
    border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.appointments-table th {
    background-color: #F4F4F4;
}

.status.pending {
    color: #D9534F;
}

.status.paid {
    color: #5CB85C;
}

.status.upcoming {
    color: #5BC0DE;
}

.status.completed {
    color: #5CB85C;
}

.status.cancelled {
    color: #D9534F;
}

.cancel-btn {
    padding: 5px 10px;
    border: none;
    background-color: #D9534F;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Right Panel */
#right_panel {
    width: 250px;
    background-color: #F5F5F5;
    padding: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#info p {
    margin: 0;
}

#profile_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2E4A62;
}

#info p#fullname {
    font-weight: bold;
}

#info p#status {
    font-size: 14px;
    color: #888;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    #left_panel {
        width: 20%; /* Increase usability */
    }

    #left_panel label {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #left_panel {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    #left_panel {
        width: 50%;
    }
}